{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ 'title.bookmarks'|trans }}</h1>

    {% if bookmarks is defined and bookmarks|length %}

        {% for bookmark in bookmarks %}
            <dl>
                <dt>{{ 'label.id'|trans }}</dt>
                <dd>{{ loop.index0 }}</dd>
                <dt>{{ 'label.url'|trans }}</dt>
                <dd>{{ bookmark.url }}</dd>
            </dl>
        {% endfor %}

    {% else %}
    <p>
        {{ 'message.empty_list'|trans }}
    </p>
    {% endif %}

{% endblock %}